{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended"
  ],
  "plugins": ["astro", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      }
    },
    {
      // Define the configuration for `<script>` tag.
      // Script in `<script>` is assigned a virtual file name with the `.js` extension.
      "files": ["**/*.astro/*.js", "*.astro/*.js"],
      "env": {
        "browser": true,
        "es2020": true
      },
      "parserOptions": {
        "project": "./tsconfig.json",
        "parser": "@typescript-eslint/parser"
      },
      "rules": {
        "prettier/prettier": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "airbnb-base",
        "airbnb-typescript",
        "prettier",
        "plugin:solid/recommended",
        "plugin:import/typescript"
      ],
      "rules": { "react/jsx-filename-extension": 0 },
      "parserOptions": {
        "project": "./tsconfig.eslint.json",
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" }
}
