.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.141000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.335965,0.000000,0.000000,0.335965,0,0);-ms-transform:matrix(0.335965,0.000000,0.000000,0.335965,0,0);-webkit-transform:matrix(0.335965,0.000000,0.000000,0.335965,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._23{margin-left:-66.067600px;}
._21{margin-left:-54.490800px;}
._0{margin-left:-41.916000px;}
._24{margin-left:-37.924000px;}
._22{margin-left:-36.526800px;}
._2{margin-left:-33.932000px;}
._13{margin-left:-31.536800px;}
._17{margin-left:-29.940000px;}
._1a{margin-left:-28.343200px;}
._5{margin-left:-26.946000px;}
._3{margin-left:-25.149600px;}
._1b{margin-left:-23.952000px;}
._1{margin-left:-22.754400px;}
._4{margin-left:-21.556800px;}
._6{margin-left:-19.361200px;}
._19{margin-left:-17.964000px;}
._f{margin-left:-15.968000px;}
._15{margin-left:-14.371200px;}
._c{margin-left:-13.173600px;}
._16{margin-left:-11.776400px;}
._11{margin-left:-10.578800px;}
._a{margin-left:-9.381200px;}
._14{margin-left:-7.784400px;}
._9{margin-left:-6.187600px;}
._b{margin-left:-4.790400px;}
._e{margin-left:-2.994000px;}
._8{margin-left:-1.197600px;}
._7{width:1.197600px;}
._d{width:3.193600px;}
._1c{width:4.790400px;}
._20{width:6.986000px;}
._18{width:9.181600px;}
._10{width:10.379200px;}
._12{width:11.776400px;}
._1f{width:12.974000px;}
._1e{width:14.171600px;}
._1d{width:20.958000px;}
.fc2{color:rgb(255,192,0);}
.fc1{color:rgb(191,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:29.940000px;}
.fs2{font-size:35.928000px;}
.fs1{font-size:41.916000px;}
.fs0{font-size:63.872000px;}
.fs4{font-size:87.824000px;}
.y0{bottom:-0.671930px;}
.y4c{bottom:1.341441px;}
.y69{bottom:1.352998px;}
.y32{bottom:1.353066px;}
.y4a{bottom:1.372484px;}
.y40{bottom:1.391299px;}
.y4f{bottom:1.391970px;}
.y30{bottom:1.392105px;}
.y48{bottom:1.411497px;}
.y5d{bottom:1.411591px;}
.y3e{bottom:1.430324px;}
.y4e{bottom:1.430996px;}
.y2e{bottom:1.431077px;}
.y46{bottom:1.450563px;}
.y27{bottom:1.450697px;}
.y3c{bottom:1.469377px;}
.y35{bottom:1.470089px;}
.y25{bottom:1.470183px;}
.y44{bottom:1.489588px;}
.y23{bottom:1.489669px;}
.y3a{bottom:1.508416px;}
.y34{bottom:1.509101px;}
.y21{bottom:1.509155px;}
.y42{bottom:1.528641px;}
.y38{bottom:1.547455px;}
.y2a{bottom:1.548181px;}
.y5a{bottom:1.575811px;}
.y36{bottom:1.586427px;}
.y1f{bottom:1.587233px;}
.y58{bottom:1.606719px;}
.y1d{bottom:1.626205px;}
.y56{bottom:1.645745px;}
.y1b{bottom:1.665244px;}
.y54{bottom:1.684757px;}
.y19{bottom:1.704284px;}
.y52{bottom:1.723796px;}
.y17{bottom:1.743309px;}
.y50{bottom:1.762849px;}
.y15{bottom:1.782362px;}
.y64{bottom:1.810180px;}
.y13{bottom:1.821401px;}
.y62{bottom:1.840900px;}
.y11{bottom:1.860400px;}
.yf{bottom:1.899452px;}
.y7c{bottom:1.918992px;}
.yd{bottom:1.938518px;}
.y7a{bottom:1.958004px;}
.yb{bottom:1.977504px;}
.y78{bottom:1.997057px;}
.y9{bottom:2.016556px;}
.y60{bottom:2.044549px;}
.y7{bottom:2.055609px;}
.y73{bottom:2.075108px;}
.y5{bottom:2.094635px;}
.y70{bottom:2.114161px;}
.y3{bottom:2.133674px;}
.y6d{bottom:2.153267px;}
.y1{bottom:2.172753px;}
.y4d{bottom:106.489098px;}
.y6b{bottom:117.754947px;}
.y67{bottom:118.559651px;}
.y33{bottom:127.411389px;}
.y6a{bottom:138.677238px;}
.y4b{bottom:148.333680px;}
.y68{bottom:159.599530px;}
.y41{bottom:168.451268px;}
.y31{bottom:169.255972px;}
.y5f{bottom:180.521821px;}
.y49{bottom:190.178263px;}
.y5e{bottom:201.444112px;}
.y3f{bottom:210.295851px;}
.y2f{bottom:211.100554px;}
.y5c{bottom:222.366403px;}
.y47{bottom:232.022846px;}
.y28{bottom:243.288695px;}
.y3d{bottom:252.140433px;}
.y2d{bottom:252.945137px;}
.y26{bottom:264.210986px;}
.y45{bottom:273.867428px;}
.y24{bottom:285.133277px;}
.y66{bottom:285.937981px;}
.y3b{bottom:293.985016px;}
.y2c{bottom:294.789719px;}
.y22{bottom:306.055569px;}
.y43{bottom:315.712011px;}
.y39{bottom:335.829599px;}
.y2b{bottom:336.634302px;}
.y5b{bottom:357.556593px;}
.y37{bottom:377.674181px;}
.y20{bottom:378.478885px;}
.y59{bottom:399.401176px;}
.y1e{bottom:420.323467px;}
.y57{bottom:441.245758px;}
.y1c{bottom:462.168050px;}
.y55{bottom:483.090341px;}
.y1a{bottom:504.012632px;}
.y53{bottom:524.934924px;}
.y18{bottom:545.857215px;}
.y7e{bottom:550.350143px;}
.y51{bottom:566.779506px;}
.y16{bottom:587.701797px;}
.y65{bottom:608.624089px;}
.y14{bottom:629.546380px;}
.y63{bottom:650.468671px;}
.y12{bottom:671.390963px;}
.y10{bottom:713.235545px;}
.y7d{bottom:734.157836px;}
.ye{bottom:755.080128px;}
.y7b{bottom:776.002419px;}
.yc{bottom:796.924710px;}
.y79{bottom:817.847002px;}
.ya{bottom:838.769293px;}
.y77{bottom:850.035142px;}
.y61{bottom:859.691584px;}
.y76{bottom:870.957433px;}
.y8{bottom:880.613875px;}
.y75{bottom:891.879725px;}
.y74{bottom:912.802016px;}
.y6{bottom:922.458458px;}
.y72{bottom:933.724307px;}
.y71{bottom:954.646598px;}
.y4{bottom:964.303040px;}
.y6f{bottom:975.568890px;}
.y6e{bottom:996.491181px;}
.y2{bottom:1003.331161px;}
.y29{bottom:1006.147623px;}
.y6c{bottom:1017.413472px;}
.h7{height:27.724440px;}
.h6{height:27.916056px;}
.h5{height:33.269328px;}
.h4{height:38.814216px;}
.h3{height:59.145472px;}
.h8{height:81.325024px;}
.h2{height:1129.133143px;}
.h0{height:1131.395935px;}
.h1{height:1132.202251px;}
.w2{width:798.400000px;}
.w0{width:800.000000px;}
.w1{width:800.940702px;}
.x0{left:0.000000px;}
.x2{left:120.705527px;}
.x3{left:157.252478px;}
.x1{left:259.583941px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._23{margin-left:-65.550070pt;}
._21{margin-left:-54.063955pt;}
._0{margin-left:-41.587658pt;}
._24{margin-left:-37.626929pt;}
._22{margin-left:-36.240673pt;}
._2{margin-left:-33.666199pt;}
._13{margin-left:-31.289762pt;}
._17{margin-left:-29.705470pt;}
._1a{margin-left:-28.121178pt;}
._5{margin-left:-26.734923pt;}
._3{margin-left:-24.952595pt;}
._1b{margin-left:-23.764376pt;}
._1{margin-left:-22.576157pt;}
._4{margin-left:-21.387938pt;}
._6{margin-left:-19.209537pt;}
._19{margin-left:-17.823282pt;}
._f{margin-left:-15.842917pt;}
._15{margin-left:-14.258626pt;}
._c{margin-left:-13.070407pt;}
._16{margin-left:-11.684152pt;}
._11{margin-left:-10.495933pt;}
._a{margin-left:-9.307714pt;}
._14{margin-left:-7.723422pt;}
._9{margin-left:-6.139130pt;}
._b{margin-left:-4.752875pt;}
._e{margin-left:-2.970547pt;}
._8{margin-left:-1.188219pt;}
._7{width:1.188219pt;}
._d{width:3.168583pt;}
._1c{width:4.752875pt;}
._20{width:6.931276pt;}
._18{width:9.109677pt;}
._10{width:10.297896pt;}
._12{width:11.684152pt;}
._1f{width:12.872370pt;}
._1e{width:14.060589pt;}
._1d{width:20.793829pt;}
.fs3{font-size:29.705470pt;}
.fs2{font-size:35.646564pt;}
.fs1{font-size:41.587658pt;}
.fs0{font-size:63.371669pt;}
.fs4{font-size:87.136045pt;}
.y0{bottom:-0.666667pt;}
.y4c{bottom:1.330933pt;}
.y69{bottom:1.342400pt;}
.y32{bottom:1.342467pt;}
.y4a{bottom:1.361733pt;}
.y40{bottom:1.380400pt;}
.y4f{bottom:1.381067pt;}
.y30{bottom:1.381200pt;}
.y48{bottom:1.400440pt;}
.y5d{bottom:1.400533pt;}
.y3e{bottom:1.419120pt;}
.y4e{bottom:1.419787pt;}
.y2e{bottom:1.419867pt;}
.y46{bottom:1.439200pt;}
.y27{bottom:1.439333pt;}
.y3c{bottom:1.457867pt;}
.y35{bottom:1.458573pt;}
.y25{bottom:1.458667pt;}
.y44{bottom:1.477920pt;}
.y23{bottom:1.478000pt;}
.y3a{bottom:1.496600pt;}
.y34{bottom:1.497280pt;}
.y21{bottom:1.497333pt;}
.y42{bottom:1.516667pt;}
.y38{bottom:1.535333pt;}
.y2a{bottom:1.536053pt;}
.y5a{bottom:1.563467pt;}
.y36{bottom:1.574000pt;}
.y1f{bottom:1.574800pt;}
.y58{bottom:1.594133pt;}
.y1d{bottom:1.613467pt;}
.y56{bottom:1.632853pt;}
.y1b{bottom:1.652200pt;}
.y54{bottom:1.671560pt;}
.y19{bottom:1.690933pt;}
.y52{bottom:1.710293pt;}
.y17{bottom:1.729653pt;}
.y50{bottom:1.749040pt;}
.y15{bottom:1.768400pt;}
.y64{bottom:1.796000pt;}
.y13{bottom:1.807133pt;}
.y62{bottom:1.826480pt;}
.y11{bottom:1.845827pt;}
.yf{bottom:1.884573pt;}
.y7c{bottom:1.903960pt;}
.yd{bottom:1.923333pt;}
.y7a{bottom:1.942667pt;}
.yb{bottom:1.962013pt;}
.y78{bottom:1.981413pt;}
.y9{bottom:2.000760pt;}
.y60{bottom:2.028533pt;}
.y7{bottom:2.039507pt;}
.y73{bottom:2.058853pt;}
.y5{bottom:2.078227pt;}
.y70{bottom:2.097600pt;}
.y3{bottom:2.116960pt;}
.y6d{bottom:2.136400pt;}
.y1{bottom:2.155733pt;}
.y4d{bottom:105.654933pt;}
.y6b{bottom:116.832533pt;}
.y67{bottom:117.630933pt;}
.y33{bottom:126.413333pt;}
.y6a{bottom:137.590933pt;}
.y4b{bottom:147.171733pt;}
.y68{bottom:158.349333pt;}
.y41{bottom:167.131733pt;}
.y31{bottom:167.930133pt;}
.y5f{bottom:179.107733pt;}
.y49{bottom:188.688533pt;}
.y5e{bottom:199.866133pt;}
.y3f{bottom:208.648533pt;}
.y2f{bottom:209.446933pt;}
.y5c{bottom:220.624533pt;}
.y47{bottom:230.205333pt;}
.y28{bottom:241.382933pt;}
.y3d{bottom:250.165333pt;}
.y2d{bottom:250.963733pt;}
.y26{bottom:262.141333pt;}
.y45{bottom:271.722133pt;}
.y24{bottom:282.899733pt;}
.y66{bottom:283.698133pt;}
.y3b{bottom:291.682133pt;}
.y2c{bottom:292.480533pt;}
.y22{bottom:303.658133pt;}
.y43{bottom:313.238933pt;}
.y39{bottom:333.198933pt;}
.y2b{bottom:333.997333pt;}
.y5b{bottom:354.755733pt;}
.y37{bottom:374.715733pt;}
.y20{bottom:375.514133pt;}
.y59{bottom:396.272533pt;}
.y1e{bottom:417.030933pt;}
.y57{bottom:437.789333pt;}
.y1c{bottom:458.547733pt;}
.y55{bottom:479.306133pt;}
.y1a{bottom:500.064533pt;}
.y53{bottom:520.822933pt;}
.y18{bottom:541.581333pt;}
.y7e{bottom:546.039067pt;}
.y51{bottom:562.339733pt;}
.y16{bottom:583.098133pt;}
.y65{bottom:603.856533pt;}
.y14{bottom:624.614933pt;}
.y63{bottom:645.373333pt;}
.y12{bottom:666.131733pt;}
.y10{bottom:707.648533pt;}
.y7d{bottom:728.406933pt;}
.ye{bottom:749.165333pt;}
.y7b{bottom:769.923733pt;}
.yc{bottom:790.682133pt;}
.y79{bottom:811.440533pt;}
.ya{bottom:832.198933pt;}
.y77{bottom:843.376533pt;}
.y61{bottom:852.957333pt;}
.y76{bottom:864.134933pt;}
.y8{bottom:873.715733pt;}
.y75{bottom:884.893333pt;}
.y74{bottom:905.651733pt;}
.y6{bottom:915.232533pt;}
.y72{bottom:926.410133pt;}
.y71{bottom:947.168533pt;}
.y4{bottom:956.749333pt;}
.y6f{bottom:967.926933pt;}
.y6e{bottom:988.685333pt;}
.y2{bottom:995.471733pt;}
.y29{bottom:998.266133pt;}
.y6c{bottom:1009.443733pt;}
.h7{height:27.507265pt;}
.h6{height:27.697380pt;}
.h5{height:33.008718pt;}
.h4{height:38.510171pt;}
.h3{height:58.682166pt;}
.h8{height:80.687978pt;}
.h2{height:1120.288267pt;}
.h0{height:1122.533333pt;}
.h1{height:1123.333333pt;}
.w2{width:792.145867pt;}
.w0{width:793.733333pt;}
.w1{width:794.666667pt;}
.x0{left:0.000000pt;}
.x2{left:119.760000pt;}
.x3{left:156.020667pt;}
.x1{left:257.550533pt;}
}
