@import '@unocss/reset/tailwind-compat.css';

a {
  @apply text-neutral-600 dark:text-neutral-200 hover:text-blue-500 dark:hover:text-blue-400;
}
address {
  @apply not-italic;
}
body {
  @apply m-auto max-w-7xl font-sans dark:bg-stone-900 dark:text-neutral-200 text-neutral-800;
  @apply bg-[#f7f7f7];
  line-height: 1.5;
}

.prose :where(blockquote):not(:where(.not-prose, pre *)) {
  @apply text-sm bg-stone-100 py-2 dark:bg-stone-900;
}

.prose :where(blockquote):not(:where(.not-prose, pre *)) p {
  font-style: normal;
}

.prose :where(code):not(:where(.not-prose, pre *)) {
  @apply px-[0.4rem] py-[0.2rem] m-0 text-[85%] rounded-md bg-stone-200 dark:bg-stone-700 font-mono font-normal;
  white-space: break-spaces;
}

.prose :where(section.footnotes):not(:where(.not-prose, pre *)) {
  @apply text-sm;
}

@keyframes strongify {
  0% {
    @apply bg-yellow-400 bg-op-40;
  }
  100% {
    background-color: none;
  }
}

:target {
  scroll-margin-top: 5.75rem;
  animation: 1s ease-in 1 strongify;
}

html {
  @apply scroll-smooth;
}

@font-face {
  font-family: Chinese Quotes;
  src: local('PingFang SC Regular'), local('PingFang SC'), local('SimHei'),
    local('Source Han Sans SC');
  unicode-range: U+2018, U+2019, U+201C, U+201D;
}

ul p.active a{
  @apply text-blue-500 dark:text-blue-400;
}

ul li.active a {
  @apply text-blue-500 dark:text-blue-400;
}
