a {
  @apply text-neutral-600 dark:text-neutral-200 hover:text-blue-500 dark:hover:text-blue-400;
}
address {
  @apply not-italic;
}
body {
  @apply m-auto max-w-7xl font-sans dark:bg-stone-900 dark:text-neutral-200 text-neutral-800;
  @apply bg-[#f7f7f7];
  line-height: 1.5;
}

.prose :where(blockquote):not(:where(.not-prose, pre *)) {
  font-style: initial;
  @apply text-sm bg-stone-100 py-2 dark:bg-stone-900;
}

.prose :where(code):not(:where(.not-prose, pre *)) {
  @apply px-[0.4rem] py-[0.2rem] m-0 text-[85%] rounded-md bg-stone-200 dark:bg-stone-700 font-mono font-normal;
  white-space: break-spaces;
}
