---
export interface Props extends astroHTML.JSX.BaseHTMLAttributes {
  slug: string;
  date: Date;
}
const { slug, date, class: className } = Astro.props;
---

<div class:list={[className, 'text-xs', 'flex', 'text-neutral-500']}>
  <time>
    {
      date.toLocaleDateString('zh-cn', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }
  </time>
  <span class="ml-2 hidden wordcount">·</span>
  <span class="ml-2 hidden wordcount" id="wordCount"></span>
  <span class="ml-2 hidden wordcount">·</span>
  <span class="ml-2 hidden wordcount" id="approxTime"></span>
  {
    // Disable pageview count in dev mode
    !process.env.DEV && (
      <>
        <span class="ml-2">·</span>
        <span class="ml-2">
          <span class="waline-pageview-count" data-path={`/posts/${slug}/`} /> 浏览
        </span>
      </>
    )
  }
</div>
