---
import getWordCount from '@utils/getWordCount';
import type MDInstance from '@app-types/MDInstance';
export interface Props extends astroHTML.JSX.BaseHTMLAttributes {
  post: MDInstance;
}
const { post, class: className } = Astro.props;
let { words, time } = { words: 0, time: '' };
if (post.frontmatter.rawContent) {
  ({ words, time } = getWordCount(post.frontmatter.rawContent));
} else {
  if (!post.frontmatter.isMdx) {
    ({ words, time } = getWordCount(post.rawContent()));
  }
}
---

<div class:list={[className, 'text-xs', 'flex', 'gap-2', 'text-neutral-500']}>
  <time>
    {
      new Date(post.frontmatter.date).toLocaleDateString('zh-cn', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    }
  </time>
  <span>·</span>
  <span>{words} 字</span>
  <span>·</span>
  <span>{time}</span>
  {
    // Disable pageview count in dev mode
    !process.env.DEV && (
      <>
        <span>·</span>
        <span>
          <span class="waline-pageview-count" data-path={post.url} /> 浏览
        </span>
      </>
    )
  }
</div>
