---

---

<div class="mt-2">
  <div id="comment-container"></div>
  <script>
    import Sodesu from 'sodesu-comment';
    Sodesu.init({
      el: '#comment-container',
      serverURL: 'https://waline.penclub.club/',
      dark: 'html.dark',
      pageview: !import.meta.env.DEV,
      commentClassName: 'prose prose-neutral dark:prose-invert min-w-0 max-w-none',
    });
  </script>
</div>
