---
---

<script src="https://unpkg.com/@waline/client@v2/dist/waline.js" is:inline></script>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
<div id="comment-container" class="mt-2"></div>
<script is:inline>
  Waline.init({
    el: '#comment-container',
    serverURL: 'https://bmhgu5.deta.dev/',
    dark: 'html.dark',
    pageview: true,
    path: window.location.pathname,
  });
</script>
