---

---

<div class="mt-2">
  <div id="comment-container">
    {
      /* <div class="prose prose-neutral dark:prose-invert min-w-0 max-w-none">
      <p>
        我遭到了来自<a target="_blank" href="/posts/SexualAssaultNote">性侵</a
        >者的持续骚扰，精神状态亦受影响。为了保护我的精神状态，原匿名评论区无限期关闭。
        在评论区的发言本就是公开的，故将其在两周左右时间内发布的近万字骚扰言论合订公布。<a
          target="_blank"
          href="/CommentFromSexualAssaultNote">打开</a
        >阅读前，请务必确保自身精神状况。
      </p><p>在原评论区恢复使用前，还请注册 GitHub 账号以使用临时评论区</p>
    </div> */
    }
  </div>
  {
    /*
  <!-- <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="BeiyanYunyi/blog"
    data-repo-id="R_kgDOLuexcg"
    data-category="Announcements"
    data-category-id="DIC_kwDOLuexcs4CetEe"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="0"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script> -->
  <script>
    import { pageviewCount } from '@waline/client/pageview';
    if (!(import.meta as unknown as { env: Record<string, string> }).env.DEV)
      pageviewCount({ serverURL: 'https://waline.penclub.club/' });
  </script> */
  }
  <script>
    import Sodesu from 'sodesu-comment';
    Sodesu.init({
      el: '#comment-container',
      serverURL: 'https://waline.penclub.club/',
      dark: 'html.dark',
      pageview: !import.meta.env.DEV,
      commentClassName: 'prose prose-neutral dark:prose-invert min-w-0 max-w-none',
    });
  </script>
</div>
