---

---

<div class="mt-2">
  <style>
    .nowrap p {
      white-space: normal;
    }
  </style>
  <!-- <div class="prose prose-neutral dark:prose-invert min-w-0 max-w-none nowrap">
    <h2>敬告 gaslighter、harasser 与 stalker 王某某</h2>
    <p>
      王某某在 2023 年 12 月至 2024 年 1 月间，对本博主实施了 PUA、性骚扰（harassment） 与<a
        href="/posts/SexualAssaultNote/"
        target="_blank">性侵（assault）</a
      >。此后，王某某长期跟踪博主的多个社交平台，并实施<a
        target="_blank"
        href="/CommentFromSexualAssaultNote">骚扰（stalking）</a
      >，方式包括但不限于：手机通话、微信、本博客评论区、X（Formerly
      Twitter）、知乎、博主的电子邮箱。截至当前，博主已经忍气吞声长达 1 年。
    </p>
    <p>
      博主在此前的文章中并未对王某某指名道姓，这是因为博主不希望自己的博文带有针对个人的声讨意味，而应该是针对群体身份、对性别身份的探讨。这并不是出于对王某某的任何保护。半年前，博主已经在
      X 上对王某某进行了上述告知。
    </p>
    <p>
      然而，王某某却从未停止对博主的 stalking
      行为，博客评论区也一次次被搞得不堪入目。隐藏王某某的评论是出于对观众情绪的保护，而不是对博主的。恰恰相反，为了保护观众，博主需要巡查评论区，被强制阅读骚扰言论。关闭评论区才是为了保护博主。然而，这却会牺牲其他用户的权利。
    </p>
    <p>
      这是本博客对王某某的最后警告。如果王某某敢于继续跟踪、继续在全平台骚扰博主，敢于再向博主发送任何一条消息、拨打任何一次电话，包括对这条警告进行任何形式的回应，博主都将坚决地予以无限制、不考虑自身后果的回击，而王某某在过程中的任何损失，都必须由王某某自己负完全的责任。手段包括但不限于：
    </p>
    <ul>
      <li>公开王某某的真实姓名（中英文）、工作单位</li>
      <li>公开此前王某某对博主的所有言论</li>
      <li>根据前述证据，向王某某的工作单位举报</li>
      <li>根据前述证据，对王某某发起民事诉讼</li>
    </ul>
    <p>
      如果上述手段被博主认为未能达成目的，博主将使用冷兵器甚至热兵器对王某某本人发动直接攻击。王某某不死，博主不休。
    </p>
    <p>局势是险恶的，后果是严重的。本博客正告王某某：一旦决定踏破底线，事后就不要说没被警告过。</p>
    <p>本博客公示至 2025 年 1 月 1 日</p>
  </div> -->
  <div class="prose prose-neutral dark:prose-invert min-w-0 max-w-none nowrap">
    <h2>评论区关闭</h2>
    <p>
      博主已进入对 PUA 惯犯、强奸犯、跟踪骚扰者王旷逸（Wang Xueqian）的<a
        target="_blank"
        href="/posts/ToWangKuangyi">永久战争状态</a
      >。期间，评论区暂不可用。
    </p>
    <p>在王旷逸公开道歉、赔偿损失或遭受物理伤害、因故死亡以前，该状态将一直持续。</p>
  </div>
  <div id="comment-container">
    {
      /* <div class="prose prose-neutral dark:prose-invert min-w-0 max-w-none">
      <p>
        我遭到了来自<a target="_blank" href="/posts/SexualAssaultNote">性侵</a
        >者的持续骚扰，精神状态亦受影响。为了保护我的精神状态，原匿名评论区无限期关闭。
        在评论区的发言本就是公开的，故将其在两周左右时间内发布的近万字骚扰言论合订公布。<a
          target="_blank"
          href="/CommentFromSexualAssaultNote">打开</a
        >阅读前，请务必确保自身精神状况。
      </p><p>在原评论区恢复使用前，还请注册 GitHub 账号以使用临时评论区</p>
    </div> */
    }
  </div>

  <!-- <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="BeiyanYunyi/blog"
    data-repo-id="R_kgDOLuexcg"
    data-category="Announcements"
    data-category-id="DIC_kwDOLuexcs4CetEe"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="0"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script> -->
  <script>
    import { pageviewCount } from '@waline/client/pageview';
    if (!(import.meta as unknown as { env: Record<string, string> }).env.DEV)
      pageviewCount({ serverURL: 'https://waline.penclub.club/' });
  </script>

  <!-- <script>
    import { init } from 'sodesu-comment';
    init({
      el: '#comment-container',
      serverURL: 'https://waline.penclub.club/',
      dark: 'html.dark',
      pageview: !import.meta.env.DEV,
      commentClassName: 'prose prose-neutral dark:prose-invert min-w-0 max-w-none',
    });
  </script> -->
</div>
