---
import shuffle from '@utils/shuffle';
import friends from '@data/friends.json';
const [dustella, ...toshuffle] = friends;
const friendRenderList = [dustella!, ...shuffle(toshuffle)];
---

<script>
  import shuffle from '@utils/shuffle';
  const friendsDOM = Array.from(document.querySelectorAll('.friend'));
  const [dustella, ...toshuffle] = friendsDOM;
  const friendRenderList = [dustella!, ...shuffle(toshuffle)];
  const list = document.querySelector('#friend-list')!;
  list.innerHTML = '';
  list.append(...friendRenderList);
  list.classList.remove('opacity-0');
</script>
<div
  class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row-dense gap-2 opacity-0 not-prose"
  id="friend-list"
>
  {
    friendRenderList.map((friend) => (
      <a
        href={friend.url}
        class="hover:underline rounded-md transition-all no-underline hover:shadow-md outline-neutral-200 dark:outline-neutral-600 outline outline-1 friend"
      >
        <div class="p-2">
          <div class="flex items-start">
            {friend.avatar && (
              <img
                height="75"
                width="75"
                src={friend.avatar}
                alt={friend.title}
                class="object-contain"
              />
            )}
            <div class="ml-2">
              <p>{friend.title}</p>
              <p>{friend.description || ''}</p>
            </div>
          </div>
        </div>
      </a>
    ))
  }
</div>
