---
import { SITE_TITLE } from '@config';
import { Icon } from 'astro-icon';
import HeaderLink from './HeaderLink.astro';
---

<header
  class="static md:sticky top-0 mb-4 card flex gap-4 p-2 pl-4 z-20 flex-wrap justify-center sm:justify-start"
>
  <a href="/" class="flex gap-2 items-center">
    <img src="/头像圆.webp" height="48" width="48" class="object-cover w-12" alt="My avatar" />
    <h2 class="text-lg break-keep">
      {SITE_TITLE}
    </h2>
  </a>
  <nav class="flex gap-2 flex-grow items-center justify-center">
    <HeaderLink href="/">主页</HeaderLink>
    <HeaderLink href="/intro">关于我</HeaderLink>
    <HeaderLink href="/links">友链</HeaderLink>
    <div class="flex-grow hidden sm:block"></div>
    <a href="https://github.com/lixiang810/comb" target="_blank">
      <Icon name="fa:github" size={24} class="inline-block" />
    </a>
  </nav>
</header>
<script type="text/javascript">
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
    if (e.matches) {
      window.document.documentElement.classList.add('dark');
    } else {
      window.document.documentElement.classList.remove('dark');
    }
  });
  if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    window.document.documentElement.classList.add('dark');
  }
</script>
