---
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';

export interface Props {
  posts: CollectionEntry<'posts'>[];
}
const { posts } = Astro.props;
---

<section>
  <ul class="flex flex-col gap-2">
    {posts.map((post) => <PostCard post={post} />)}
  </ul>
</section>
