---
import PostCard from './PostCard.astro';
import type MDInstance from '@app-types/MDInstance';

export interface Props extends astroHTML.JSX.BaseHTMLAttributes {
  posts: MDInstance[];
}
const { posts, class: className } = Astro.props;
---

<section class:list={[className]}>
  <ul class="flex flex-col gap-2">
    {posts.map((post) => <PostCard post={post} />)}
  </ul>
</section>
