---
import crypto from 'node:crypto';

interface Props {
  information?: string;
}

const { information = 'Spoiler' } = Astro.props;

const targetId = crypto.webcrypto.randomUUID();
---

<label>
  <input id={targetId} type="radio" hidden />
  <div>{information}</div>
  <div class="transition-all">
    <slot />
  </div>
</label>
<style>
  input:checked + div + div {
    filter: none;
    user-select: auto;
    pointer-events: auto;
  }
  input + div + div {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
  }
  input + div {
    white-space: pre-wrap;
  }
</style>
