---
---

<a class="twitter-timeline" href="https://twitter.com/Beiyan_Yunyi" dnt height="300">
  Tweets by @Beiyan_Yunyi
</a>
<script is:inline>
  window.twttr = (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://platform.twitter.com/widgets.js';
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  })(document, 'script', 'twitter-wjs');
</script>
