---
import BaseHead from '@components/BaseHead.astro';
import Comments from '@components/Comments.astro';
import Footer from '@components/Footer.astro';
import GlobalContainer from '@components/GlobalContainer.astro';
import Header from '@components/Header.astro';
import SideBarLeft from '@components/SideBarLeft.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@config';

export type Props = { title?: string; description?: string };

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <GlobalContainer>
    <Header />
    <main class="flex flex-col-reverse lg:flex-row gap-4">
      <SideBarLeft />
      <div class="flex-auto min-w-0">
        <slot />
        <Comments />
      </div>
    </main>
    <Footer />
  </GlobalContainer>
</html>
