---
import BaseHead from '@components/BaseHead.astro';
import Comments from '@components/Comments.astro';
import Footer from '@components/Footer.astro';
import GlobalContainer from '@components/GlobalContainer.astro';
import Header from '@components/Header.astro';
import SideBarLeft from '@components/SideBarLeft.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@config';

export type Props = { title?: string; description?: string; image?: string };

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/头像方.png' } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <GlobalContainer>
    <Header />
    <main class="flex flex-col-reverse lg:flex-row">
      <SideBarLeft />
      <div class="flex-auto min-w-0 mt-4 lg:(mt-0 ml-4)">
        <slot />
        <Comments />
      </div>
    </main>
    <Footer />
  </GlobalContainer>
</html>
